---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2020 - Actualidad",
    title: "Desarrollador Web y Soporte Técnico",
    company: "MiAgencia MyD",
    description:
      "Me especializo en la creación y mantenimiento de páginas web con WordPress, optimizando su posicionamiento SEO para mejorar su visibilidad en los motores de búsqueda. También diseño y gestiono tiendas online utilizando plataformas como TiendaNube y WooCommerce. Además, me encargo del manejo de correos corporativos, integrándolos con Gmail, Google Workspace y Outlook. Tengo experiencia en trato directo con clientes tanto en Argentina como en Dubái, y ofrezco soporte técnico en general para garantizar el correcto funcionamiento de los sistemas.",
  },
  {
    date: "2020 - Actualidad",
    title: "Desarrollador de Aplicaciones Web",
    company: "Freelance",
    description:
      "Me encargo de la búsqueda y gestión de clientes, así como del diseño y creación de aplicaciones personalizadas según los requerimientos específicos de cada cliente. Además, ofrezco mantenimiento y actualización de las aplicaciones, y brindo soporte técnico y capacitación para asegurar su correcto funcionamiento y uso.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
