---
const currentYear = new Date().getFullYear()
---

<footer
  class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
  class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-start py-4"
  >
        <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
        <a id="contacto" href="mailto:info@cvnet.com.ar" class="hover:underline"
          >Contacto</a
        >
    </ul>
  </div>
</footer>
